@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

/* 
 #03002e	
 #010048	
 #010057	
 #02006c	
 #090088

 #50b8e7
 #84cdee	
 #b9e2f5	
 #dcf0fa	
 #edf7fc

 #4d4d4d	
 #3c3c3c	
 #1e1e1e	
 #111111
 #000000
*/
 
*,body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Lobster', cursive; */
  /* font-family: 'Roboto Slab', serif; */
}
::-webkit-scrollbar {
  width: 10px;
  background-color: brown;
  display: none;
}
#image-scroll-upload::-webkit-scrollbar {
  display: none;
}
#sidebar::-webkit-scrollbar {
  display: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* .main {
  width: 100%;
  height: 100%;
  position: relative;
} */

video {
  width: auto;
  height: 100%;
  object-fit: cover;
}

/* .content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
} */

/* .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */
/* background-color: rgba(0,0,0,.4); */
/* background-color: #000000cc; */


.container {
  display: flex;
  height: 100vh;
  background-color: #0f0c29;
}

/* button {
  padding: 16px;
  font-size: 18px;
  width: 64px;
  aspect-ratio: 1;
  border-radius: 32px;
  background-color: #0f0c29;
  border: none;
  cursor: pointer;
  text-align: center;
  color: white;
} */

/* button:hover {
  background-color: #24243e;
} */

.prevButton {
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
}
.nextButton {
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-50%);
}

.slides {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.carousel-slider{
  height: 100%;
}
.slider-wrapper{
  height: 100%;
  width: 100%;
}
.slider{
  height: 100%;
  width: 100%;
  
}
.slide{
  height: 100%;
  width: 100%;
 
}
