@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

/* 
 #03002e	
 #010048	
 #010057	
 #02006c	
 #090088

 #50b8e7
 #84cdee	
 #b9e2f5	
 #dcf0fa	
 #edf7fc

 #4d4d4d	
 #3c3c3c	
 #1e1e1e	
 #111111
 #000000
*/
 
*,body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Lobster', cursive; */
  /* font-family: 'Roboto Slab', serif; */
}
::webkit-scrollbar {
  z-index: 9999; /* Adjust the z-index as needed */
}
#image-scroll-upload::-webkit-scrollbar {
  display: none;
}